<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
    <%- include('./partials/header') %>
        <main>
            <% users.forEach(user => { %>
                <div class="card">
                    <div class="card-body">
                      <h5><%= user.last_name %>, <%= user.name %></h5>
                      <p><%= user.email %></p>
                    </div>
                  </div>
            <% }) %>
            
        </main>
        <%- include('./partials/footer') %>
            <%- include('./partials/scripts') %>
</html>