<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
  <%- include('./partials/header') %>
    <main>
      <div class="container padreS">
        <div class="container">
          <div class="row productos">

            <% clients.forEach(client=> { %>

              <div class=" listSA col-12 col-md-6 col-lg-3">
                <div class="card text-center cardSuperAdmin" style="width: 18rem;">
                  <div class="card-body ">
                    <h5 class="card-title">
                      <%= client.name %>
                    </h5>

                    <form action="/superadmin/clientDelete/<%=client.id%>?_method=DELETE" method="POST">
                      <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                  </div>
                </div>
              </div>

              <% }) %>
          </div>
        </div>
      </div>
    </main>
    <%- include('./partials/footer') %>
      <%- include('./partials/scripts') %>

</html>