<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
    <%- include('./partials/header') %>
        <main>
            <div class="container padre">
                <div class="container">
                    <div class="row productos">
                        <div class="titulo-menu col-12">
                            <h1>Lista de productos</h1>
                        </div>
                        <% products.forEach(product=> { %>
                            <div class="col-12 col-md-6 col-lg-3 productoAdmin">
                                <div class="contenidoAdmin">
                                    <a href="/products/detail/<%= product.id %> ">
                                        <div class="img-productosAdmin">
                                            <img src="/images/products/<%= product.image %>" alt="">
                                        </div>
                                        <div class="des-productoAdmin">
                                            <h2>
                                                <%= product.name %>
                                            </h2>
                                            <h3>$<%= product.price %>
                                            </h3>
                                        </div>

                                        <div class="col-12 btns-form-admin">
                                            <form class="col-6 btnsAdmin"
                                                action="/admin/eliminar/<%=product.id%>?_method=DELETE" method="POST">
                                                <div class=" botones-index-Admin">
                                                    <button class=" boton-comprar" type="submit">Eliminar</button>
                                                </div>
                                            </form>
                                            <form class="col-6 btnsADmin" action="/admin/edit/<%= product.id %>">
                                                <div class=" botones-index-Admin">
                                                    <button class=" boton-comprar" type="submit">Editar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </a>
                                </div>

                            </div>
                            <% }) %>
                    </div>
                </div>
            </div>
           

        </main>
        <%- include('./partials/footer') %>
            <%- include('./partials/scripts') %>

</html>