<!-- HEADER -->
<header>
    <div class="container-fluid">

        <div class="row barra">
            <!-- logo -->
            <div class="logo col-3">
                <a href="/">
                    <img src="/images/logo2.2.png" alt="">
                </a>
            </div>

            <!-- buscador -->
            <div class="col-6 buscador">
                <form action="/products/search">
                    <input type="search" name="buscar">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>

            <!-- login/carrito -->
            <div class="col-3 buttons">
                <% if (typeof user !="undefined" ) { %>
                    <div class="chip">
                        <a href="/users/profile"> <img src="/images/users/<%= user.image %> " alt="Person" width="96"
                                height="96"></a>

                    </div>
                    <% }else{ %>
                        <a href="/users/login" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-user-circle"></i></a>
                        <% } %>

                            <a href="/products/carrito"><i class="fas fa-cart-arrow-down"></i></a>


            </div>

        </div>

        <!-- categorias -->
        <div class=" menu">
            <nav class="navbar navbar-expand-md navbar-light menu-2">

                <div class="container-fluid cf">

                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse barraMenu" id="navbarSupportedContent">

                        <ul class="navbar-nav col-md-12 col-lg-12">
                            <li><a class="link" href="/">Home</a></li>

                            <li class="nav-item dropdown">
                                <a class="dropdown-toggle" href="/menu" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Menú
                                </a>
                                <div class="dropdown-menu desplegable " aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/menu/1">Entradas</a>
                                    <a class="dropdown-item" href="/menu/2">Plato Principales</a>
                                    <a class="dropdown-item" href="/menu/3">Postres</a>
                                    <a class="dropdown-item" href="/menu/4">pasteleria</a>
                                </div>
                            </li>

                            <li><a class="link" href="">Reservas</a></li>

                            <li><a class="link" href="/contact">contacto</a></li>

                        </ul>

                    </div>
                </div>

            </nav>
        </div>
    </div>


    <!-- Modal login -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <!-- login -->
                <div class="row card-login mx-auto">
                    <h1 class="loginTitulo">Login</h1>
                    <form action="/users/login" method="POST" id="form-login" class="form-login">
                        <div class="col-12  col-md-12 datosLogin">
                            <div class="col-12 EntradasLogin">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Ingresa tu email"
                                    value="<%= (typeof datos!='undefined' && datos.email)?datos.email : "" %>">
                                <span class="text-white-50" id="errorEmail">
                                    <%= (typeof errores !='undefined' && errores.email) ? errores.email.msg : null
                                        %>
                                </span>
                            </div>
                
                            <div class="col-12 EntradasLogin">
                                <label for="pass">Contraseña</label>
                                <input type="password" class="form-control" name="pass" id="pass"
                                    placeholder="Ingresa tu contraseña"
                                    value="<%= (typeof datos!='undefined' && datos.pass)?datos.pass : "" %>">
                                <span class="text-white-50" id="errorPass">
                                    <%= (typeof errores !='undefined' && errores.pass) ? errores.pass.msg : null%>
                                </span>
                            </div>
                
                            <div class="col-12 EntradasLogin">
                                <input type="checkbox" class="custom-control-input" id="recordar" name="recordar">
                                <label class="custom-control-label" for="recordar">Recordame</label>
                                <span id="msgError" class="text-white-50"></span>
                            </div>
                        </div>
                
                        <div class="botonesLogin">
                            <button type="submit">Ingresar</button>
                            <a class="botonLogin" href="/users/register"> Registrarme</a>
                        </div>
                    </form>
                    ​
                </div>
                <!-- login -->
            </div>
          </div>
        </div>
      </div>
</header>



