<!DOCTYPE html>
<html lang="es">
​
<%- include('./partials/head') %>
    ​
    ​

    <body>
        <%- include('./partials/header') %>
            <div class="contenedorLogin">
                <div class="container form ">
                    <div class="row card-login mx-auto">
                        <h1 class="loginTitulo">Login</h1>
                        <form action="/users/login" method="POST">
                            <div class="col-12  col-md-12 datosLogin">
                                ​
                                <div class="col-12 EntradasLogin">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" id="email" placeholder="Ingresa tu email" value="<%= (typeof datos!='undefined' && datos.email)?datos.email : "" %>">
                                    <span class="text-danger"><%= (typeof errores != 'undefined' && errores.email) ? errores.email.msg : null %> </span>
                                </div>

                                <div class="col-12 EntradasLogin">
                                    <label for="pass">Contraseña</label>
                                    <input type="password" name="pass" id="pass" placeholder="Ingresa tu contraseña" value="<%= (typeof datos!='undefined' && datos.pass)?datos.pass : "" %>">
                                    <span class="text-danger"><%= (typeof errores != 'undefined' && errores.pass) ? errores.pass.msg : null%> </span>
                                </div>

                                <div class="col-12 EntradasLogin custom-control custom-checkbox recordame">
                                    <input type="checkbox" class="custom-control-input" id="recordar" name="recordar">
                                    <label class="custom-control-label" for="recordar">Recordame</label>
                                </div>
                            </div>
                            
                            <div class="botonesLogin">
                                <button type="submit">Ingresar</button>
                                <button type="submit"> <a class="botonLogin" href="/users/register"> Registrarme</a></button>
                            </div>
                        </form>
                        ​
                    </div>
                </div>
            </div>
            ​
            ​
            <%- include('./partials/footer') %>
                ​
                <%- include('./partials/scripts') %>
    </body>