<!DOCTYPE html>
<html lang="es">
​
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <div class="contenedorLogin">
                <div class="container form ">
                    <div class="row card-login mx-auto">
                        <h1 class="loginTitulo">Login</h1>
                        <form action="/users/login" method="POST" id="form-login" class="form-login">
                            <div class="col-12  col-md-12 datosLogin">
                                <div class="col-12 EntradasLogin">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Ingresa tu email"
                                        value="<%= (typeof datos!='undefined' && datos.email)?datos.email : "" %>">
                                    <span class="text-white-50" id="errorEmail">
                                        <%= (typeof errores !='undefined' && errores.email) ? errores.email.msg : null
                                            %>
                                    </span>
                                </div>

                                <div class="col-12 EntradasLogin">
                                    <label for="pass">Contraseña</label>
                                    <input type="password" class="form-control" name="pass" id="pass" placeholder="Ingresa tu contraseña"
                                        value="<%= (typeof datos!='undefined' && datos.pass)?datos.pass : "" %>">
                                    <span class="text-white-50" id="errorPass">
                                        <%= (typeof errores !='undefined' && errores.pass) ? errores.pass.msg : null%>
                                    </span>
                                </div>

                                <div class="col-12 EntradasLogin custom-control custom-checkbox recordame">
                                    <input type="checkbox" class="custom-control-input" id="recordar" name="recordar">
                                    <label class="custom-control-label" for="recordar">Recordame</label>
                                    <span id="msgError" class="text-white-50"></span>
                                </div>
                            </div>

                            <div class="botonesLogin">
                                <button type="submit">Ingresar</button>
                                <a class="botonLogin" href="/users/register"> Registrarme</a>
                            </div>
                        </form>
                        ​
                    </div>
                </div>
            </div>
            <%- include('./partials/footer') %>
                <%- include('./partials/scripts') %>
                    <script src="/javascript/login.js"></script>
    </body>

</html>