<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

    <%- include('./partials/header') %>
        <main>
            <!-- banner -->
            <div id="carouselExampleIndicators" class="carrousel carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner carrousel-items">
                    <div class="carousel-item active carrousel-item">
                        <img src="/images/banner1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item carrousel-item">
                        <img src="/images/banner2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item carrousel-item">
                        <img src="/images/banner3.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!-- banner -->

            <div class="container padre">
                <div class="container">
                    <div class="row productos">

                        <% products.forEach(product=> { %>

                            <div class="col-12 col-md-6 col-lg-3 producto">
                                <div class="contenido">
                                    <a href="/products/detail/<%= product.id %> ">

                                        <div class="img-productos">
                                            <img src="/images/products/<%= product.image %>" alt="">
                                        </div>

                                        <div class="datos-box col-12">
                                            <h2>
                                                <%= product.name %>
                                            </h2>
                                        </div>

                                        <div class="col-12 datos-platos">
                                            <div class="base col-12">
                                                <h5>$<%= product.price %>
                                                </h5>
                                            </div>
                                            <div class="base2 col-12">
                                                <button>Agregar<i class="fas fa-cart-plus"></i></button>
                                            </div>
                                        </div>

                                    </a>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>
            </div>

            <div class="container secciones col-12">
                <div class="flip-box col-12 col-md-4">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <h2>Front Side</h2>
                        </div>

                        <div class="flip-box-back">
                            <h2>Back Side</h2>
                        </div>
                    </div>
                </div>

                <div class="flip-box col-12 col-md-4">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <h2>Front Side</h2>
                        </div>

                        <div class="flip-box-back">
                            <h2>Back Side</h2>
                        </div>
                    </div>
                </div>

                <div class="flip-box col-12 col-md-4">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <h2>Front Side</h2>
                        </div>

                        <div class="flip-box-back">
                            <h2>Back Side</h2>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include('./partials/footer') %>

            <%- include('./partials/scripts') %>

</html>