<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <div class="container contenedor-detalle">
                <!--Contenido-->
                <div class="row contenido-detalle card mx-auto">
                    <!--Imagen-->
                    <div class="imagen col-12 col-lg-6">
                        <img src="/images/<%= product.image %> " alt="">
                    </div>
                    <!--Datos-->
                    <div class="col-12 col-lg-6 datos-detalle">
                        <div class="datos">
                            <h2 class="nombre">
                                <%= product.name %> 
                            </h2>
                            <h2 class="precio">
                                $<%= product.price %> 
                            </h2>
                            <p><%= product.description %> </p>
                        </div>
                        <!--Botón e input-->
                        <div class="boton">
                            <form action="">
                                <button type="button" class="btn btn-primary comprar">Comprar</button>

                                <div class="option">
                                    <label for="cantidad">Cantidad</label>
                                    <span class="numero">
                                        <input type="number" value="1" min="1" max="100" class="number-spinner"
                                            id="cantidad">
                                    </span>
                                </div>
                                <button type="button" class="carrito">
                                    <i class="fas fa-cart-arrow-down"></i>
                                </button>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
            </div>
            <%- include('./partials/footer') %>

                <%- include('./partials/scripts') %>
    </body>

</html>