<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

    <%- include('./partials/header') %>

        <body>
            <div class="body-profile container card ">
                <div class="perfil-text" style="text-align:center">
                    <h2>Perfil</h2>

                </div>
                <div class="profile-dato column">
                    <div class=" img-perfil column">
                        <img src="/images/users/<%= user.image %> ">
                    </div>
                    <div class="datos column">
                        <article class="nombre">
                            <h4>Nombre: </h4>
                            <p> <%= user.nombre %> </p>
                        </article>

                        <h4>Apellido: <%= user.apellido %>
                        </h4>

                        <h4>Email: <%= user.email %>
                        </h4>

                        <div class="btns">
                            <form clas action="/users/logout">
                                <button type="button" class="btn btn-danger">Cerrar Sesión</button>
                            </form>
                            <form action="">
                                <button type="button" class="btn btn-success">Editar Perfil</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>


        </body>
        <%- include('./partials/footer') %>

            <%- include('./partials/scripts') %>

</html>