<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <div class="container form contenedorRegister">
                <div class="row card mx-auto ">
                    <h1 class="registerTitulo">Registrate</h1>
                    <form action="/users/register" method="POST" enctype="multipart/form-data">
                        <div class="col-12  col-md-12 datosRegister">

                            <div class="EntradasRegister col-12">
                                <label for="mail">Email</label>
                                <input type="email" name="email" id="mail" placeholder="Ingresa tu Email"
                                    value="<%= (typeof datos!='undefined' && datos.email)?datos.email : "" %>">
                                <span class="text-danger">
                                    <%= (typeof errores !='undefined' && errores.email)?errores.email.msg : "" %>
                                </span>
                            </div>

                            <div class="EntradasRegister col-12">
                                <label for="nombre">Nombre</label>
                                <input type="text" name="nombre" id="nombre" placeholder="Ingresa tu nombre"
                                    value="<%= (typeof datos!='undefined' && datos.nombre)?datos.nombre : "" %>">
                                <span class="text-danger">
                                    <%= (typeof errores !='undefined' && errores.nombre)?errores.nombre.msg : "" %>
                                </span>
                            </div>

                            <div class="EntradasRegister col-12">
                                <label for="apellido">Apellido</label>
                                <input type="text" name="apellido" id="apellido" placeholder="Ingresa tu apellido"
                                    value="<%= (typeof datos!='undefined' && datos.apellido)?datos.apellido : "" %>">
                                <span class="text-danger">
                                    <%= (typeof errores !='undefined' && errores.apellido)?errores.apellido.msg : "" %>
                                </span>
                            </div>

                            <div class="EntradasRegister col-12">
                                <label for="pass">Contraseña</label>
                                <input type="password" name="pass" id="pass1" placeholder="Password">
                                <span class="text-danger">
                                    <%= (typeof errores !='undefined' && errores.pass)?errores.pass.msg : "" %>
                                </span>
                            </div>

                            <div class="EntradasRegister  col-12">
                                <label for="pass"> Confirmar Contraseña</label>
                                <input type="password" name="pass2" id="pass2" placeholder="Password">
                                <span class="text-danger">
                                    <%= (typeof errores !='undefined' && errores.pass2)?errores.pass2.msg : "" %>
                                </span>
                            </div>

                            <div class="EntradasRegister col-12">
                                <label for="date">Fecha de Nacimiento </label>
                                <input type="date" name="date" id=""
                                    value="<%= (typeof datos!='undefined' && datos.date)?datos.date : "" %>">
                                <span class="text-danger">
                                    <%= (typeof errores !='undefined' && errores.date)?errores.date.msg : "" %>
                                </span>
                            </div>

                            <div class="EntradasRegister col-12 avatar">
                                <label for="image" class="form-label">Foto de perfil</label>
                                <input type="file" id="image" name="image">
                                <span class="text-danger">
                                    <%= (typeof errores !='undefined' && errores.image)?errores.image.msg : "" %>
                                </span>
                            </div>
                            <img src="" alt="">

                        </div>


                        <div class="col-12 checkRegister">
                            <div class="terminosRegister">
                                <input type="checkbox" name="aceptar" id="aceptar">
                                <label for="aceptar">Acepto los terminos y condiciones.</label>
                            </div>
                        </div>

                        <div class=" col-12 botonesRegister">

                            <button type="submit">Registrarme</button>

                        </div>

                    </form>


                </div>
            </div>

            <%- include('./partials/footer') %>

                <%- include('./partials/scripts') %>
    </body>

</html>