<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <div class="container form contenedorRegister">
                <div class="row card mx-auto ">
                    <h1 class="registerTitulo">Registrate</h1>
                    <form action="/users/login" method="POST" enctype="multipart/form-data">
                        <div class="col-12  col-md-12 datosRegister">

                            <div class="EntradasRegister col-12">
                                <label for="mail">Email</label>
                                <input type="email" name="mail" id="mail" placeholder="Ingresa tu Email">
                                <span class="text-danger"><%= (typeof errores != 'undefined' && errores.mail)?errores.mail.msg : "" %> </span>
                            </div>

                            <div class="EntradasRegister col-12">
                                <label for="nombre">Nombre</label>
                                <input type="text" name="nombre" id="nombre" placeholder="Ingresa tu nombre">
                                <span class="text-danger"><%= (typeof errores != 'undefined' && errores.nombre)?errores.nombre.msg : "" %> </span>
                            </div>

                            <div class="EntradasRegister col-12">
                                <label for="apellido">Apellido</label>
                                <input type="text" name="apellido" id="apellido" placeholder="Ingresa tu apellido">
                                <span class="text-danger"><%= (typeof errores != 'undefined' && errores.apellido)?errores.apellido.msg : "" %> </span>
                            </div>

                            <div class="EntradasRegister col-12">
                                <label for="pass">Contraseña</label>
                                <input type="password" name="pass1" id="pass1" placeholder="Password">
                                <span class="text-danger"><%= (typeof errores != 'undefined' && errores.pass1)?errores.pass1.msg : "" %> </span>
                            </div>

                            <div class="EntradasRegister  col-12">
                                <label for="pass"> Confirmar Contraseña</label>
                                <input type="password" name="pass2" id="pass2" placeholder="Password">
                                <span class="text-danger"><%= (typeof errores != 'undefined' && errores.pass2)?errores.pass2.msg : "" %> </span>
                            </div> 

                            <div class="EntradasRegister col-12">
                                <label for="">Fecha de Nacimiento </label>
                                <input type="date" name="birth" id="">
                                <span class="text-danger"><%= (typeof errores != 'undefined' && errores.birth)?errores.birth.msg : "" %> </span>
                            </div> 

                            <div>
                                <label for="image" class="form-label">foto de perfil</label>
                            <input type="file" id="image" name="image">
                            <span class="text-danger"><%= (typeof errores != 'undefined' && errores.image)?errores.image.msg : "" %> </span>
                            </div>



                        </div>


                        <div class="check">
                            <select name="genero" class="form-select" aria-label="Default select example">
                                <option selected>Genero</option>
                                <option value="1">Masculino</option>
                                <option value="2">Femenino</option>
                                <option value="3">Prefiero no Decirlo</option>
                            </select>
                            <span class="text-danger"><%= (typeof errores != 'undefined' && errores.genero)?errores.genero.msg : "" %> </span>

                            <div class="terminosRegister">
                                <input type="checkbox" name="" id="accepto">
                                <label for="accepto">Acepto los terminos y condiciones.</label>
                            </div>
                        </div>

                        <div class=" col-12 botonesRegister">

                            <button type="submit">Registrarme</button>
                           
                        </div>

                    </form>


                </div>
            </div>

            <%- include('./partials/footer') %>

                <%- include('./partials/scripts') %>
    </body>

</html>